@charset "UTF-8";
h1 {
    background-color: yellow;
}
div {
    color: blueviolet;
    font-size: large;
}
body {
    background-color: lightgray;
    font-family: monospace;
    color:gray;
}

#mensaje {
    color: green;

}

.principal {
    font-family: cursive;
    font-size: xx-large;
}

.tremendo {
    color: chartreuse;
    background-color: black;
}