@charset "UTF-8";
/* Funciones CSS */
p {
  color: rgb(42, 154, 179);
}

h1 {
  color: rgb(42, 154, 179);
}

#valores {
  color: rgb(42, 154, 179);
}

#variables {
  color: rgb(42, 154, 179);
}

/* Funcies de SASS (nativas) */
/* Cadena original
   "Pepe"

   Cadena que quiereo insertar:
   "Hola "

   Cadena resultante sería:
   "Hola Pepe"
   */
/* Funciones sobre cadenas */
/* funciones sobre los números */
/*  @debug call(round, 15.56); */
/* Condicionales */
/* Tipos de datos */
/* 4 + (5 * 3) = 19 */
h5 {
  margin: 10px 30px 0;
}

/* 1ro 2da 3ra 4to 5ta n-avo n-ésimo */